@charset "utf-8";
@use "@yakit/ui/styles/tools/cssVars";
@import "@yakit/ui/styles/all";

// rndc #69001a, text #79232e
$sidenav-page-bg-color: #210d0d;
$sidenav-list-bg-color: #241f1f;
$sidenav-navbar-bg-color: cvar(primary);
$sidenav-selected-bg-color: cvar(primary);
// $sidenav-bg-dark: darken(cvar(primary),10%);
// $sidenav-bg-selected: lighten(cvar(primary), 1%);

// @import "examples";
// @import "codeview";

:root {
  --color-primary: hsl(346, 98%, 21%);
  --color-primary-h: 346;
  --color-primary-s: 98%;
  --color-primary-l: 21%;
  // --f7-page-bg-color: rgb(96, 93, 148);
  // --f7-page-sidenav-color: rgb(100, 145, 137);
}

// .aurora.dark, .ios.dark, .md.dark {
//   --f7-page-bg-color: rgb(214, 24, 24);
//   --f7-page-sidenav-color: rgb(148, 82, 82);
// }

.page-home,
.page-about {
  --f7-list-border-color: transparent;
  --f7-block-strong-border-color: transparent;
  --f7-block-font-size: 16px;
}
:root:not(.dark) .page-home,
:root:not(.dark) .page-about {
  --f7-page-bg-color: #fff;
}

.side-nav.dark{
  --f7-page-bg-color: #{$sidenav-page-bg-color};
  --f7-navbar-bg-color: #{$sidenav-navbar-bg-color};
  --f7-list-bg-color: #{$sidenav-list-bg-color};
  --f7-menu-list-selected-bg-color: #{$sidenav-selected-bg-color};
  --f7-button-text-color: var(--f7-text-color);
  --f7-menu-list-selected-text-color: var(--f7-text-color);
}

.side-nav.dark{
  --f7-page-bg-color: #{$sidenav-page-bg-color};
  --f7-navbar-bg-color: #{$sidenav-navbar-bg-color};
  --f7-list-bg-color: #{$sidenav-list-bg-color};
  --f7-menu-list-selected-bg-color: #{$sidenav-selected-bg-color};
  --f7-button-text-color: var(--f7-text-color);
  --f7-menu-list-selected-text-color: var(--f7-text-color);
}
// :root.dark .page-sidenav {
//   --f7-page-bg-color: rgb(75, 4, 4);
// }
