@charset "utf-8";
@use "@yakit/ui/styles/tools/cssVars";
@import "@yakit/ui/styles/all";

@import "sidebar";

// rndc #69001a, text #79232e
$sidenav-page-bg-color: darken(cvar(primary),30%);
$sidenav-list-bg-color: darken(cvar(primary),20%);
$sidenav-navbar-bg-color: cvar(primary);
$sidenav-selected-bg-color: cvar(primary);
// $sidenav-bg-dark: darken(cvar(primary),10%);
// $sidenav-bg-selected: lighten(cvar(primary), 1%);

// @import "examples";
// @import "codeview";

:root {
  --color-primary: hsl(210, 40%, 37%);
  --color-primary-h: 210;
  --color-primary-s: 40%;
  --color-primary-l: 37%;
  --f7-theme-color: var(--color-link);
}

.page-home,
.page-about {
  --f7-list-border-color: transparent;
  --f7-block-strong-border-color: transparent;
  --f7-block-font-size: 16px;
}
:root:not(.dark) .page-home,
:root:not(.dark) .page-about {
  --f7-page-bg-color: #fff;
}
